<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile="build/cache/test-results"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="build/cache"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">lib</directory>
        </include>

		<report>
			<clover outputFile="build/clover.xml"/>
			<crap4j outputFile="build/crap4j.xml" threshold="50"/>
			<html outputDirectory="build/coverage/html" lowUpperBound="50" highLowerBound="90"/>
			<text outputFile="build/coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
			<xml outputDirectory="build/coverage/xml"/>
		</report>
    </coverage>
</phpunit>
